<!DOCTYPE html>
<html>
<head>
	<title>Tiendita</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<a href="/" class="logo">
			Mi tiendita
		</a>
		<nav>
			<ul>
				<li>
					<a href="/articles">Articulos</a>
				</li>
				<li>
					<a href="/categories">Categorias</a>
				</li>
			</ul>
		</nav>

		<div class="user-controls" style="">
			<ul>
				<li>Bienvenido usuario</li>
				<li><a href="">Cerrar sesion</a></li>
			</ul>
		</div>
	</header>
	<section class="main">

		<%= yield %>
	</section>
	<footer>
		<div class="text-center">
			Curso Ruby on Rails
		</div>
	</footer>
</body>
</html>
