<section class="title">
	<h2>Lista de Articulos</h2>
	<p id="notice"><%#= notice %></p>
</section>

<section class="col-md-12">

	<% @articles.each do |article| %>
	<article class="article">
		<figure>
			<img src="" alt="">
		</figure>
		<a href="#>">
			<h3><%= article.name%></h3>
			<p><%= article.description%></p>
		</a>
		<span class="data-category"><a href="#">Categoria</a></span>
		<span class="data-price">
			<b>Precio</b>
			<span class="price">$<%= article.price%></span>
		</span>
	</article>
	<%end %>
</section>
