<article class="article-details">
	<div class="article-image">
		<img src="" alt="">
	</div>
	<div class="article-data">
		<div class="data-info">
			<h3>Nombre:</h3>
			<span><%= @article.name %></span>
		</div>
		<div class="data-info">
			<h3>Descripción:</h3>
			<span><%= @article.description %></span>
		</div>
		<div class="data-info">
			<h3>Categoria:</h3>
			<span>Nombre de articulo</span>
		</div>
		<div class="data-info">
			<h3>Precio:</h3>
			<span>$<%= @article.price %></span>
		</div>
	</div>
</article>
